<?xml version='1.0' encoding='utf-8'?>
<widget id="com.punch.phaserdemo2" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>DOTS Clone Wrapper</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <platform name="android">
        <preference name="Fullscreen" value="true" />
    </platform>
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <plugin name="it.innowatio.cordova.ios-fullscreen" spec="https://github.com/innowatio/cordova-ios-fullscreen.git" />
    <engine name="android" spec="7.0.0" />
    <engine name="ios" spec="^4.5.4" />
</widget>
